:root {
  --bs-app-border-bottom: 1px dashed #1f212a;
  --bs-app-header-minimize-border-bottom: var(--bs-app-border-bottom);
}

html {
  font-size: 14px;
}

@media (max-width: 992px) {
  body, html {
    font-size: 14px !important;
  }
}

.toast-lg {
  --bs-toast-max-width: 550px;
}

@media (min-width: 992px) {
  .app-header {
    height: calc(var(--bs-app-header-height) + 1px);
  }
}

.border-bottom-dashed {
  border-bottom: var(--bs-app-border-bottom);
}

.top-2 {
  top: 2px;
}

.top-5 {
  top: 5px;
}

.italic {
  font-style: italic;
}

.hover-bg-primary,
.hover-color-primary,
.hover-color-primary * {
  transition: ease-in-out .2s;
}

.hover-bg-primary:hover {
  background-color: var(--bs-primary-light) !important;
}

.hover-color-primary:hover,
.hover-color-primary:hover * {
  color: var(--bs-text-primary);
}

.z-index-100 {
  z-index: 100 !important;
}

.form-check-input.form-check-success:checked {
  background-color: var(--bs-success);
}


:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  background-color: #bbbbbb;
}

body {
  min-height: 100vh;
}

.select__input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.select__value-container {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.select__input-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.text-right {
  text-align: right !important;
}

.item-menu-game-choose {
  cursor: pointer;
  transition: all .2s;
  color: #808290;
}

.item-menu-game-choose.active,
.item-menu-game-choose:hover {
  background-color: #172331;
  color: #006AE6;
}

.game-box {
  border: 1px solid #ffffff0d;
  height: 100%;
}

.game-header {
  border-bottom: 1px solid #ffffff0d;
}

.game-title-icon {
  color: #ff55a5;
}

.hl-text {
  color: #E42855;
}

.\!hl-text {
  color: #E42855 !important;
}

.hl-text-warning {
  color: #C59A00;
}

.\!hl-text-warning {
  color: #C59A00 !important;
}

@media (max-width: 605px) {
  .area-game-detail {
    flex-direction: column;
  }

  .area-game-detail .menu-left .d-flex {
    flex-direction: row !important;
    width: 100% !important;
    border: none !important;
  }

  .area-game-detail .menu-left .d-flex .item-menu-game-choose {
    min-width: 85px;
  }

  .area-game-detail .menu-right {
    width: 100% !important;
  }
}

@media (max-width: 516px) {
  .area-game-detail .menu-right tr td:first-child {
    width: 100px !important;
  }

  .area-game-detail .menu-right .gap-2 {
    gap: 0.15rem !important;
  }

  .card-body {
    padding: 0 !important;
  }
}
