@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .no-apply-css-base * {
    font-size: revert;
    font-weight: revert;
    margin: revert;
  }
}
