:root {
    --bs-app-border-bottom: 1px dashed #1f212a;
    --bs-app-header-minimize-border-bottom: var(--bs-app-border-bottom);
}

.toast-lg {
    --bs-toast-max-width: 550px;
}

@media (min-width: 992px) {
    .app-header {
        height: calc(var(--bs-app-header-height) + 1px);
    }
}

.border-bottom-dashed {
    border-bottom: var(--bs-app-border-bottom);
}

.top-2 {
    top: 2px;
}

.top-5 {
    top: 5px;
}

.italic {
    font-style: italic;
}

.hover-bg-primary,
.hover-color-primary,
.hover-color-primary *
{
    transition: ease-in-out .2s;
}

.hover-bg-primary:hover {
    background-color: var(--bs-primary-light) !important;
}

.hover-color-primary:hover,
.hover-color-primary:hover * {
    color: var(--bs-text-primary);
}

.z-index-100 {
    z-index: 100 !important;
}

.form-check-input.form-check-success:checked {
    background-color: var(--bs-success);
}
